<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <script src="https://kit.fontawesome.com/df59baf6b8.js" crossorigin="anonymous"></script>
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../shoppingFront/shopping.css">
    <script defer src="../shoppingFront/stock.js"></script>
    <script defer src="../shoppingFront/modal.js"></script>
    <script defer src="../shoppingFront/funcionalidadCarrito.js"></script>
</head>
<body id="fondoAPP">
    <header>
      
      <a class="navbar-brand" href="http://localhost:8080/">

      
 <div class="loader ">
    <svg viewBox="0 0 80 80">
        <circle id="test" cx="40" cy="40" r="32"></circle>
    </svg>
</div>

<div class="loader triangle">
    <svg viewBox="0 0 86 80">
        <polygon points="43 8 79 72 7 72"></polygon>
    </svg>
</div>

<div class="loader">
    <svg viewBox="0 0 80 80">
        <rect x="8" y="8" width="64" height="64"></rect>
    </svg>
</div>
    </a>

        <button id="boton-carrito"><i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span></button>
    </header>
      <h1 class="text-center animate__animated animate__zoomIn">CERVEZAS DE OTRA GALAXIA</h1>

 


    <main id="contenedor-productos">

    </main>
    <div class="fondo1"> 
      <div class="follow">
 <h2 class="animate__animated animate__zoomIn">powered by   <li class="linkedin"> 
              <a href="https://www.linkedin.com/in/ignacio-traba-canzoniero-b3063a129/" class="linkedin" target="blanck" > <i class="fab fa-linkedin"></i>  </a>  
          </li>
        </ul>   </h2> 
  <ul>
        
 </div>  </div>
<div class="fondo2"></div>
    

    <div class="modal-contenedor">
        <div class="modal-carrito">
            <h3>Carrito</h3>
            <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
            <div id="carrito-contenedor">
              
            </div>
            <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
            <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
            <br><br>
            <button id="finalizar-compra" class="boton-agregar"> Chatear con nosotros </button>
            <br><br>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Soy mayor de edad</label>
              <br>
            <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
            data-preference-id="47184662-df81cba3-dc1d-45b7-99cd-6e11766a6ded" data-source="button">
            </script>
           
        </div>
    </div>
     <div id="whatsapp">
   <a href="https://wa.me/5491166419166/?text=Hola soy Ignacio, estas a un solo paso de contactarme, click en continuar al chat." target="_blank">
     <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" class="svg-inline--fa fa-whatsapp fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>
   </a>
</div>
</body>
</html>




